:root,[data-theme="light"] {
    --fg-color: black;
    --bg-color: rgb(253,253,255);
    --highlight-text:black;
  
    --green:  rgb(174, 236, 174);
    --blue: lightblue;
    --purple: rgb(219, 185, 219);
    --red: #f3b4b4;
    
     --tags: rgb(190, 224, 202);
     --nav-bg: #f8f8f8;
     --active: black;
     --linkfg: #577bdc;
     --linkfg-alt: rgb(88, 143, 161);
  }
  [data-theme="dark"] {
      --fg-color: rgb(225, 225, 237);
      --bg-color: black;
      --highlight-text:rgb(37, 35, 35);
  
      --blue: #2654a4;
      --green: #12ad7c;
      --purple: rgb(142, 72, 157);
      --red: #c06666;

      --tags: rgb(90, 152, 101);
      --nav-bg: #313030;
      --active: rgb(208, 203, 203);
      --linkfg: rgb(177, 177, 240);
      --linkfg-alt: rgb(211, 199, 199);
}

html {
    scrollbar-color: var(--blue) var(--bg-color);
}

body {
    font-family: 'Jetbrains Mono','Times New Roman', Times, serif;
    background-color: var(--bg-color);
    color: var(--fg-color);
    margin:1rem;
}

a {
    color:var(--linkfg);
}
a:active {
    color:var(--active);
}
a:hover {
    font-weight: 600;
}
/*Theme button*/
#theme-toggle {
    background:none;
    border:none;
    margin-right:1rem;
}
#theme-toggle img {
    height:1rem;

}
/*Links*/

  
/*Navbar*/
.nav {
    overflow:hidden;
    background-color: var(--nav-bg);
}
.nav a {
    float: left;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size:medium;
}
.nav a.active {
    color:var(--active);
}
.nav a:hover {
    text-decoration: underline;
}

/* Colors */
.lightgray-highlight {
    background-color: rgb(235, 229, 229);
    color:var(--highlight-text);
}
.gray-highlight {
    background-color: lightgray;
    color:var(--highlight-text);
    font-weight: 500;
}
.blue-highlight {
    background-color: var(--blue);
}
.green-highlight {
    background-color: var(--green);
}
.purple-highlight {
    background-color: var(--purple);
}
.red-highlight {
    background-color: var(--red);
}


img.medium {
    height:10rem;
}
img.small {
    height: 5rem;
}

.github-img {
    height:2rem;
    width: 2rem;
    padding-left:4rem;
}

/*Cats gallery on index*/
.cats {
    margin: 2rem;
}

.cats img {
    padding: 0 1rem; 
}

/*PROJECTS*/
#projlist a {
    color:var(--linkfg-alt);
}
.tech-icons {
    display: inline-block;
}
.tech-icons img {
    max-height:2.5rem;
    max-width: 2.5rem;
}
#projlist p.tech {
    font-size: 60%;
}

/*BLOG*/

.articles {
    padding:2rem;
}

.articles .title {
    text-align: center;
    font-weight: 900;
}


.tags {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tags li {
    display: inline-block;
    margin: 0 0.5rem;
    padding: 0.25rem 1rem;
    background-color: var(--tags);
    text-align: center;
}

/*Utils*/

.content-center {
    text-align: center;
}

.smaller-text {
    font-size: 80%;
}
.tiny-text {
    font-size: 50%;
}